body{
    background-image: linear-gradient(to top right,#8B5CF6,#EC4899);
    min-height: 100pv;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: justify;
    background-color: #ccc;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50%  - 110px);
    top: 0;
}

#next,#prev{
    position: absolute;
    top: 40%;
    color: #ccc;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-weight: bold;
    left: 50px;
    cursor: pointer;
}
#next{
    left: unset;
    right: 50px;
}